@model HolidayPlanner.Models.PersonDetail

@{
    ViewBag.Title = "Details";
}


<div class="editBackground col-md-5">
    <h2 class="editTitle">Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PersonBudget):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PersonBudget)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentBalance):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentBalance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AmountLeft):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AmountLeft)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumberOfGifts):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfGifts)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back", "Index", "Person", new { id = TempData["BudgetId"] }, new { @class = "back col-md-offset-0 col-md-2"  })
    </p>
</div>
